![logo-home-copy-496x80a-red.png]()

# Exercício Prático

1. Escolha algum dataset de sua preferência. Abaixo encontra-se uma lista com algumas recomendações e ponteiros para repositórios externos onde você pode selecionar qualquer outro dataset que contenha textos.
2. Realize as tarefas de processamento de texto em pelo menos um dataset para cada idioma (inglês e português)
3. Aplique os conhecimentos adquiridos em aula para sumarizar os datasets escolhidos. Você deve apresentar:
    
    **3.1. Número de documentos no dataset;**
    
    **3.2. Tamanho do vocabulário (sem aplicar filtros);**

    **3.3. Número de Tokens (filtre pontuação e simbolos especiais quando aparecerem sozinhos);**

    **3.4. Mostre os 20 tokens mais frequentes;**

    **3.5. Número de Tokens (remova as stopwords);**

    **3.6. Mostre os 20 tokens mais frequentes (após remoção das stopwords);**

    **3.7. Número de Tokens após lematização;**

    **3.8. Mostre os 20 tokens mais frequentes (após a lematização)**

    **3.9. Número de Tokens após aplicação de Stemming;**

    **3.10. Mostre os 20 tokens mais frequentes (após o stemming)**

    **3.11. Número de Sentenças no corpus;**

    **3.12. Verifique qual a média de tokens de um documento no conjunto de dados: para isso obtenha o número de tokens de cada exemplo/documento, calcule e mostre a média, mediana e desvio padrão da contagem de tokens.**

**OBS 1**: Para auxílio na realização dessas tarefas utilize as bibliotecas Spacy (https://spacy.io/) e NLTK (https://www.nltk.org/)

**OBS 2**: Perceba que a depender da fonte de obtenção do conjunto de dados, o formato de organização desses datasets pode variar (.csv, .tsv, .zip, .json, orientado a diretórios e etc). Dessa forma faça os preprocessamentos necessários de forma a obter apenas os textos necessários para as tarefas em questão.

## Sugestões de Datasets para exploração
### **Inglês**
* Amazon Reviews: https://nijianmo.github.io/amazon/index.html#subsets
* IMDB Movie Review Dataset: https://ai.stanford.edu/~amaas/data/sentiment/
* Kaggle NLP datasets: https://www.kaggle.com/datasets?tags=13204-NLP

### **Português**
* B2W reviews dataset: https://www.kaggle.com/fredericods/ptbr-sentiment-analysis-datasets
* Poemas em Português: https://www.kaggle.com/oliveirasp6/poems-in-portuguese
* Corpus de abstracts de teses e dissertações: https://opus.nlpl.eu/CAPES.php -> Download (https://figshare.com/ndownloader/files/23855441)
* Outros: https://metatext.io/datasets-list/portuguese-language

## Algumas dicas para download e pré-processamento de datasets zipados ou com diferentes formatos.

### Exemplo 1: .zip + .tsv
Dataset: abstracts/resumos de teses e dissertações da CAPES

In [ ]:
# Baixando o arquivo para o colab
!wget https://figshare.com/ndownloader/files/23855441

--2022-03-05 18:38:48--  https://figshare.com/ndownloader/files/23855441
Resolving figshare.com (figshare.com)... 99.80.57.207, 52.17.221.211, 2a05:d018:1f4:d003:d580:846a:f1b5:6cc7, ...
Connecting to figshare.com (figshare.com)|99.80.57.207|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://s3-eu-west-1.amazonaws.com/pfigshare-u-files/23855441/en_pt.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIYCQYOYV5JSSROOA/20220305/eu-west-1/s3/aws4_request&X-Amz-Date=20220305T183848Z&X-Amz-Expires=10&X-Amz-SignedHeaders=host&X-Amz-Signature=fcc1f2fb3889b0be473d10fe708ae1fffcea6eabce5c4a50cd3026bd65a2d450 [following]
--2022-03-05 18:38:48--  https://s3-eu-west-1.amazonaws.com/pfigshare-u-files/23855441/en_pt.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIYCQYOYV5JSSROOA/20220305/eu-west-1/s3/aws4_request&X-Amz-Date=20220305T183848Z&X-Amz-Expires=10&X-Amz-SignedHeaders=host&X-Amz-Signature=fcc1f2fb3889b0be473d10fe708ae1fffcea6eabce5c4a50cd3026bd65a2d450
Resolving s3-eu-west-1.amazonaws.com (s3-eu-west-1.amazonaws.com)... 52.218.28.251
Connecting to s3-eu-west-1.amazonaws.com (s3-eu-west-1.amazonaws.com)|52.218.28.251|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12781082 (12M) [application/zip]
Saving to: ‘23855441’

23855441            100%[===================>]  12.19M  11.3MB/s    in 1.1s

2022-03-05 18:38:50 (11.3 MB/s) - ‘23855441’ saved [12781082/12781082]

In [ ]:
# perceba no log acima que o arquivo é um .zip ->[application/zip]
# portanto precisaremos descompactá-lo
!unzip 23855441

Archive:  23855441
  inflating: en_pt.tsv

In [ ]:
import pandas as pd

# o separador \t indica o formato de separação tab para arquivos .tsv
df = pd.read_csv("en_pt.tsv", sep="\t")

df.head()

,index,family_id,src_lang,src_abs,tgt_lang,tgt_abs
0,22818,40951751,en,The present invention relates to a process for...,pt,A presente invenção refere-se a um processo de...
1,27380,44059134,en,A steel with high temper resistance is compose...,pt,"AÇO DE ALTA RESISTÊNCIA AO REVENIDO, apresenta..."
2,28244,44541559,en,"The present invention relates to a method, nam...",pt,"A presente invenção trata-se de um método, sis..."
3,28431,44645752,en,The present invention relates to a sock with i...,pt,A presente invenção está relacionada com uma p...
4,29171,45370772,en,The invention relates to a method and product ...,pt,processo e produto para demarcação física do c...

### Exemplo 2: .gz + .json
Dataset: o subconjunto Amazon Fashion do Amazon Reviews

In [ ]:
!wget http://deepyeti.ucsd.edu/jianmo/amazon/categoryFilesSmall/AMAZON_FASHION_5.json.gz

--2022-03-05 18:39:19--  http://deepyeti.ucsd.edu/jianmo/amazon/categoryFilesSmall/AMAZON_FASHION_5.json.gz
Resolving deepyeti.ucsd.edu (deepyeti.ucsd.edu)... 169.228.63.50
Connecting to deepyeti.ucsd.edu (deepyeti.ucsd.edu)|169.228.63.50|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 287013 (280K) [application/octet-stream]
Saving to: ‘AMAZON_FASHION_5.json.gz’

AMAZON_FASHION_5.js 100%[===================>] 280.29K  1.06MB/s    in 0.3s

2022-03-05 18:39:20 (1.06 MB/s) - ‘AMAZON_FASHION_5.json.gz’ saved [287013/287013]

In [ ]:
# perceba qno log acima que o arquivo consiste de um json compactado
# portanto precisaremos descompactá-lo
!gzip -d AMAZON_FASHION_5.json.gz

In [ ]:
import json

# carrega os objetos json para uma lista
reviews = []
for review in open("AMAZON_FASHION_5.json", "r"):
  reviews.append(json.loads(review))

# Cria um dataframe apenas com as informações necessárias para a tarefa
# no caso o texto da review e a avaliação do produto (dada em estrelas)
reviews_only = []
for r in reviews:
  if set(["reviewText", "overall"]).issubset(r.keys()):
    reviews_only.append({'review': r['reviewText'],
                        'rating': r['overall'], })

# cria um dataframe para facilitar a manipulação dos dados
reviews_df = pd.DataFrame(reviews_only)

# visualizar uma amostra dos dados
reviews_df.sample(5)

                                             review  rating
2904  The shoe fit has expected. It is comfortable.     5.0
1083                                  Super comfy!!     5.0
1783                                      Love them     5.0
3133        Fit fine...did not like color in person     3.0
2870             My daughter loves them. Great fit!     5.0

# Dataset em **Inglês** [Resolução]

In [ ]:
# [Importe as bibliotecas necessárias aqui]

In [ ]:
# Faça o download do dataset e os pré-processamentos necessários
# Abra novas células de código caso necessário

**ATENÇÃO**: Caso o dataset escolhido por você seja muito grande e demore para processar as tarefas solicitadas utilize apenas um subset desse conjunto.

Exemplo:


> *meu_dataset = pd.read_csv(...)*
>
> *um_pedaco_do_meu_dataset = meu_dataset[:500]*

In [ ]:
# 3.1. Número de documentos no dataset;

In [ ]:
# 3.2. Tamanho do vocabulário (sem aplicar filtros);

'''
  TIPS:
      - Popule um dicionário com chave correspondendo a tokens e valor correspondendo a contagem da palavra no corpus
      - Para extrair o texto do token utilize o atributo .text (verifique em https://spacy.io/api/token)
      - Percorra cada documento.
      - Quando necessário faça a segmentação de sentenças.
      - Tokenize cada sentença.
      - Conte os tokens e atualize o dicionário

      Exemplo:
              doc1 = "A presente invenção refere-se a um processo..."
              doc2 = "A presente invenção trata-se de um método..."
              doc3 = "processo e produto para demarcação física..."

              vocabulario = {"a": 3, "presente": 2, "processo":2, método: 1, invenção: 2, física: 1, [...]}
'''

In [ ]:
# 3.3. Número de Tokens (filtre pontuação e simbolos especiais quando aparecerem sozinhos);

'''
  TIPS:
      - Faça o mesmo que na célula anterior. Porém, filtre pontuação.
      - Utilize o atributo .is_punct (verifique em: https://spacy.io/api/token)
      Ex: token.is_punct
'''

In [ ]:
# 3.4. Mostre os 20 tokens mais frequentes;

'''
  TIPS:
      - Utilize a função sorted para ordenar o dicionário anterior a partir da frequencia
      (https://www.w3schools.com/python/ref_func_sorted.asp)
      - Utilize reverse=True para fazer a ordenação de forma decrescente
      - Mostre apenas os 20 primeiros tokens e a sua frequencia
'''

In [ ]:
# 3.5. Número de Tokens (remova as stopwords);

'''
    TIPS:
        - Mesmo procedimento já realizado nos exercícios anteriores.
        - Utilize o atributo .is_stop (https://spacy.io/api/token) para verificar se o token é uma stopword
        Ex: token.is_stop

        -> A critério de curiosidade: você pode obter a lista default de stopwords da língua utilizando o código abaixo
                 #   nlp = spacy.load("en_core_web_sm")
                 #   stopwords = nlp.Defaults.stop_words    <- Retorna a lista padrão de stopwords em inglês
'''

In [ ]:
# 3.6. Mostre os 20 tokens mais frequentes (após remoção das stopwords);

In [ ]:
# 3.7. Número de Tokens após lematização;
'''
    TIPS:
        - Utilize o atributo .lemma_ para obter o lemma do token (verifique em: https://spacy.io/api/token)
        Ex: token.lemma_
'''

In [ ]:
# 3.8. Mostre os 20 tokens mais frequentes (após a lematização)

In [ ]:
# 3.9. Número de Tokens após aplicação de Stemming;

'''
    TIPS:
        - Mesmo procedimento já realizado anteriormente. A diferença é que agora você irá contar stemmes
        - Você pode utilizar o PorterStemmer()
                    #   stemmer = PorterStemmer()
                    #   stem = stemmer.stem(tkn.text)
'''

In [ ]:
# 3.10. Mostre os 20 tokens mais frequentes (após o stemming)

In [ ]:
# 3.11. Número de Sentenças no corpus;

'''
    TIP: Apenas conte o número de sentenças presentes no dataset inteiro.
'''

In [ ]:
# 3.12. Verifique qual a média de tokens de um documento no conjunto de dados:
# para isso obtenha o número de tokens de cada exemplo/documento,
# calcule e mostre a média, mediana e desvio padrão da contagem de tokens.

'''
    TIPS:
          - Organize seu dataset em um dataframe para maior praticidade
          - Inclua uma nova coluna ao seu dataframe chamada "num_tokens" que deverá armazenar a contagem de tokens do documento
          - Itere por cada linha do seu dataframe processando o documento:
              - segmentando sentenças, tokenizando e contando o NÚMERO TOTAL de tokens no documento
              - guarde essa contagem na coluna "num_tokens" do seu dataframe
          - Obtenha as estatísticas solicitadas a partir dos dados presentes na coluna "num_tokens"
'''

# Dataset em **Português** [Resolução]

In [ ]:
'''
    PRINCIPAL DICA: Para resolver as tarefas em um dataset em português utilize
    as mesmas bibliotecas, métodos, funções e atributos utilizado anteriormente.

    A principal diferença está na chamada do pacote em português do spacy.

    - Faça a instação do pacote em português. (Veja: https://spacy.io/models/pt)
            ATENÇÃO:  A documentação indica que a instalação deve ser feita da seguinte forma:
                      # !python -m spacy download pt_core_news_sm

                      Porém, fazendo a instalação dessa forma >>> aqui no colab <<<
                      têm apresentado problemas para fazer o carregamento do pacote.
                      Assim, a instalação do pacote em português que tem funcionado
                      é a seguinte:
                      # !python -m spacy download pt

    - Após, faça a chamada do pacote:
            #  spacy.load("pt") OU spacy.load("pt_core_news_sm") a depender do pacote que foi instalado
'''

In [ ]:
# [Importe as bibliotecas necessárias aqui]

In [ ]:
# Faça o download do dataset e os pré-processamentos necessários
# Abra novas células de código caso necessário

In [ ]:
# 3.1. Número de documentos no dataset;

In [ ]:
# 3.2. Tamanho do vocabulário (sem aplicar filtros);

In [ ]:
# 3.3. Número de Tokens (filtre pontuação e simbolos especiais quando aparecerem sozinhos);

In [ ]:
# 3.4. Mostre os 20 tokens mais frequentes;

In [ ]:
# 3.5. Número de Tokens (remova as stopwords);

In [ ]:
# 3.6. Mostre os 20 tokens mais frequentes (após remoção das stopwords);

In [ ]:
# 3.7. Número de Tokens após lematização;

In [ ]:
# 3.8. Mostre os 20 tokens mais frequentes (após a lematização)

In [ ]:
# 3.9. Número de Tokens após aplicação de Stemming;

In [ ]:
# 3.10. Mostre os 20 tokens mais frequentes (após o stemming)

In [ ]:
# 3.11. Número de Sentenças no corpus;

In [ ]:
# 3.12. Verifique qual a média de tokens de um documento no conjunto de dados:
# para isso obtenha o número de tokens de cada exemplo/documento,
# calcule e mostre a média, mediana e desvio padrão da contagem de tokens.